.title {
    text-align: center;
}

.table {
    width: 80%;
    table-layout: fixed;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 20px; /* Add this line to add space between rows */
  }
  
  .td {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }